@media #{$computer} {
  body {
    background-image: url(../Images/h.jpg);
    opacity: 0.7;

  }

  @mixin blurText($blur: 4px){
    color: transparent;
    text-shadow: 0 0 $blur rgba(0, 0, 0, 0.5);
  }

}